// gocron project
//
variable "project" {
    description = "gocron project name"
    default = ""
}

variable "project_id" {
    description = "gocron project id"
    default = ""
}


// gocron.yml config params
//
variable "dbport" {
    description = "gocron backing database network port"
    default = "5432"
}

variable "dbuser" {
    description = "gocron backing database user"
    default = "gocron"
}

variable "dbpass" {
    description = "gocron backing database user password"
    default = ""
}

variable "dbdatabase" {
    description = "gocron backing database name"
    default = "gocron"
}

variable "smtpserver" {
    description = "gocron smtp server"
    default = "smtp.gmail.com"
}

variable "smtpport" {
    description = "gocron smtp server port"
    default = "587"
}

variable "smtpaddress" {
    description = "gocron smtp user address"
    default = ""
}

variable "smtppassword" {
    description = "gocron smtp user password"
    default = ""
}

variable "interval" {
    description = "gocron check interval, in seconds. specifies how often to check for missed jobs"
    default = "20"
}

variable "slackhookurl" {
    description = "slack webhook url, for notifications"
    default = ""
}

variable "slackchannel" {
    description = "slack channel, for notifications"
    default = ""
}

variable "preferslack" {
    description = "prefer slack instead of smtp, if true. will fall back to smtp if slack fails"
    default = "true"
}
