project    = "gocron-prod-31253"
project_id = "gocron-prod-31253"
dbport     = "5432"
dbuser     = "gocron"
dbpass     = "password"
dbdatabase   = "gocron"
smtpserver   = "smtp.gmail.com"
smtpport     = "587"
smtpaddress  = "someemail@gmail.com"
smtppassword = "somepassword"
internal     = "20"
slackhookurl = "https://hooks.slack.com/services/someurl"
slackchannel = "some_channel"
preferslack  = "true"
